/* nav related style */
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    font-size: 45px;
    font-weight: 800;
    justify-content: space-between;
    margin:0 200px;
}
.span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: gray;
    

}
.primary-but{
    background:#FD6E0A ;
    border-radius: 20px;
    width: 240px;
    font-size:25px;
    color: white;
    border:0;
    padding: 15px 35px;
    

}
/* header related class */
.banner{
   padding: 30px 30x 30px 150px; 
   display: flex;
   align-items: center;
}
.banner .profill{
    width:500px;

}